/*fuenteees*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
  
/*-----------------------------------------------------------------*/

.Titulo {
  font-family: "Fjalla One", sans-serif;
  font-size: 40px;
  padding-left: 1vw;
  float: left;
}

#Logo {
  display: flex;
  vertical-align: middle;
}

* {
  margin: 0;
  padding: 0 ;

}

body {
  background-color:  rgb(177, 210, 240);
}

h2 {
  font-size: 30px;
  margin: 13px;
  margin-left: 20px;
  font-family: "Fjalla One", sans-serif;
}

#div_header {
  position: sticky;
  z-index: 1000; /* Asegura que el div_header esté sobre otros elementos */
}

.explain {
  margin-left: 35px;
 }
 
p, .explain {
  font-size: 20px;
  margin-left: 20px;
  width: 650px;
  font-family: "Work Sans", sans-serif;
}

box-icon {
  font-size: 40px !important; /* Algunas veces los estilos pueden sobreescribir otros, entonces ponemos !important para que se priorize este estilo. */
  width: 40px !important; 
  height: 40px !important; 
  margin: 5px;
  margin-right: 25px;
}

#header-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divas {
    width: 500px;
    height: 620px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    justify-content: center;
    background-image: url("imagen.jpg"); /* Imagen de fondo */
    border-style: solid;
    border-color: black;
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-position: center; /* Centra la imagen */
    position: relative; /* Necesario para el pseudo-elemento */
    transition: width 1s;
}


.divas::before {
  content: ""; /* Pseudo-elemento vacío para agregar la capa de color */
  position: absolute; /* Posiciona el pseudo-elemento dentro del contenedor */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.582); /* Color negro con 50% de transparencia */
  z-index: 1; /* Asegura que el color esté sobre la imagen pero debajo del contenido */
}

.divas:hover  {
  width: 1200px;
  border-style: solid;
  border-color: grey;
  transition: 2s;
}

.divas:hover::before {
  content: ""; /* Pseudo-elemento vacío para agregar la capa de color */
  position: absolute; /* Posiciona el pseudo-elemento dentro del contenedor */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.582); /* Color negro con 50% de transparencia */
  z-index: 1; /* Asegura que el color esté sobre la imagen pero debajo del contenido */
  transition: 2s;
}



.divas:hover > .texto {
  margin: 10px;
  width: 800px;
  text-align: center;
  display: flex;
  color: black
}

.divas:hover > h2 {
  color: black

}

.divas h2, .divas p {
  z-index: 2; /* Coloca el texto sobre la capa semitransparente */
  color: #cdcdcd;
}

.divas2 {
  width: 1200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: center;
  justify-content: center;
  background-image: url("imagen.jpg"); /* Imagen de fondo */
  border-style: solid;
  border-color: black;
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
  background-position: center; /* Centra la imagen */
  position: relative; /* Necesario para el pseudo-elemento */
  transition: width 1s;
}

.divas2::before {
  content: ""; /* Pseudo-elemento vacío para agregar la capa de color */
  position: absolute; /* Posiciona el pseudo-elemento dentro del contenedor */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.582); /* Color blanco con 50% de transparencia */
  z-index: 1; /* Asegura que el color esté sobre la imagen pero debajo del contenido */
}

.divas2:hover {
  height: 500px;
  border-style: solid;
  border-color: grey;
  transition: width 1s;
  background-color: rgba(255, 255, 255, 0.7); /* Fondo claro con transparencia */
}

.divas2:hover > .texto {
  margin: 10px;
  width: 800px;
  text-align: center;
  display: flex;
  transition: width 1;
  color: black;
}

.divas2:hover > h2 {
  color: black;
}

.divas2 h2, .divas2 p {
  z-index: 2; /* Coloca el texto sobre la capa semitransparente */
}

#div_madre2 {
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}

#div_madre {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }


#bodyFlexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

/*DROPDOWN MENU DE USER*/
#dropdownMenu {
  position: relative;
  display: inline-block; /*Esto hace que el elemento se comporte como un bloque en términos de poder tener un tamaño (ancho y alto) definido, pero se alinea en línea con otros elementos. */
}

#dropdown-Options {
  display: none; /*el elemento no se muestra en la página*/
  position: absolute; /*permite colocar el menú desplegable en una posición específica dentro del contenedor.*/
  background-color: rgb(85, 82, 82);
  border-radius: 15px 15px 15px 15px;
  min-width: 110px;
  z-index: 1; /*establece la posición del menú desplegable en el eje z (profundidad) para asegurar que se muestre por encima de otros elementos que puedan estar en la misma área de la página*/
}

#dropdownMenu:hover #dropdown-Options {
  display: block;
}

#dropdown-Options a { /*selecciona todos los enlaces dentro de #dropdownMenu*/
  color: black;
  background-color: rgb(85, 82, 82);
  padding: 15px 15px;
  border-radius: 15px 15px 15px 15px;

  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #f1f1f1;

  display: block; /*Hace que cada enlace se comporte como un bloque, ocupando toda la línea disponible*/
}

#dropdown-Options a:hover {
  background-color: #f1f1f1;
  color: rgb(85, 82, 82);
}

/*--------------------------------------------------*/

/*NAVIGATION BAR*/

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;   
  background-color: rgb(102, 102, 102);  
  text-align: center;      
  font-size: 22px;      
  font-family: "Work Sans", sans-serif;
  font-weight: 500;                                                                                                        
}

.cont-ul {
  display: flex;
 }
  
  li {
  list-style: none; /*le quita el estilo de lista*/
  transition: all 0.3s ease 0s; /*Crea el efecto de transición de los botones*/
  padding: 1.5vh; /* Mantener el padding del li */
  }

  li a {
    cursor: pointer;
    color: inherit; /* Mantener el color del texto del elemento padre */
    text-decoration: none; /* Eliminar la línea de abajo */
    display: block; /* Asegurar que el enlace ocupe todo el espacio del li */
    padding: 1.5vh; /* Mantener el padding del li */
  }

  .button-vidasana {
    color: rgb(255, 255, 255); 
    }

  li:hover {
  background-color: rgb(232, 235, 238);
  color: rgb(85, 82, 82);
  }
  
  .button-vidasana:hover > .ul-vsana {
    display: block; /*muestra el ul-vsana en forma de bloque*/
} 

  .menu-item {
  display: block; /* Asegurar que el enlace ocupe todo el espacio del li */
  color: rgb(255, 255, 255);
  }
  
  .ul-vsana {
  display: none;
  position: absolute;
  margin-top: 1.5vh;
  width: 190px;
  }
  
  .ul-vsana > li:hover {
      transform: translateX(-20px);
      border-bottom:solid 1px #fff;
      background-color: rgb(232, 235, 238);
      color: rgb(85, 82, 82);
  }

  .ul-vsana > li {
      background-color: rgb(100, 100, 100);
      color: rgb(255, 255, 255);
  }
  
  .button_vidasana:hover > .ul-vsana {
      display: block; 
  } 
  
  .ul-ayuda > li {
    background-color: rgb(100, 100, 100);
    color: rgb(255, 255, 255);
  }
  .ul-ayuda {
      position: absolute;
      transform: translateX(100%);
      top: 0%; /*hace que el ul-ayuda se encuentre a la misma altura del boton seleccionado*/
        right: 0; /*no deja espacio entre el ul-ayuda y el ul-vsana*/
        display: none; /*no se muestra*/
        width: 190px;
  }
  
  .ul-ayuda > li:hover {
    transform: translateX(-10px);
    border-bottom:solid 1px #fff;
    text-align: center;
    background-color: rgb(232, 235, 238);
    color: rgb(85, 82, 82);
  }

  .entrenamiento:hover > .ul-ayuda {
      display: block; /*muestra el ul-ayuda cuando el cursor esta arriba de entranamiento*/
  }
  
  .ul-ayuda > li {
      border-bottom: solid 1px #fff;
  }
  
.logo-cara {
  float: left;
  width: 100px;
  height: auto;
  padding-left: 2vw;
  padding-top: 2vw;
}

.menu-item {
  color: rgb(255, 255, 255);
  display: block; /* Asegurar que el enlace ocupe todo el espacio del li */
  }

  .menu-item:first-child {
    border-left: none; /* Quitar borde izquierdo del primer elemento */
  }

  .menu-item:last-child {
    border-right: none; /* Quitar borde derecho del último elemento */
  }

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#footer {
  background-color: rgb(71, 73, 73);
  padding-top: 20px;
  text-align: center;
  color: #fff;
  display: flex; 
  justify-content: center;
  font-size: 20px;
  width: 100%;
}

.texto {
  display: none;
}

.theme-switcher {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

#theme-toggle {
  display: none; /* Oculta el checkbox real */
}

#theme-toggle + label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
}

.slider {
  position: relative;
  width: 60px;
  height: 34px;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: white;
  transition: transform 0.3s;
  transform: translateX(4px);
}

#theme-toggle:checked + label .slider {
  background-color: #212121;
}

#theme-toggle:checked + label .slider::before {
  transform: translateX(30px);
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.sun-icon {
  left: 10px;
}

.moon-icon {
  right: 10px;
}

/* Modo oscuro */
body.dark-mode {
  background-color: #2a04b6;
  color: #ffffff;
}

/* Ajustes adicionales para el modo oscuro */
body.dark-mode .divas,
body.dark-mode .divas2 {
  background-color: rgb(29, 142, 248)
}

body.dark-mode nav {
  background-color: #333;
}

body.dark-mode #footer {
  background-color: #222;
}
