/*fuenteees*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
  
/*-----------------------------------------------------------------*/
 /*----------------- GENERAL ----------------- */
 * {
  margin: 0;
  padding: 0 ;
  box-sizing: border-box;
  scroll-behavior: smooth;
} 

* p {
  line-height: 35px
}

* p, li {
  line-height: 35px
}

img {
  max-width: 100%;
  height: auto;
}
 
body {
  background-color:  rgb(177, 210, 240);
}

h2 {
  font-size: 30px;
  align-self: center;
  font-family: "Fjalla One", sans-serif;
}

p {
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
}

/*------------------- HEAD ------------------*/

 .Titulo {
  font-family: "Fjalla One", sans-serif;
  font-size: 40px;
  padding-left: 1vw;
  float: left;
}

.logo-cara {
  float: left;
  width: 100px;
  height: auto;
  padding-left: 2vw;
  padding-top: 2vw;

  
}

#Logo {

  display: flex;
  vertical-align: middle;
}

#div_header {
  position: sticky;
  z-index: 800; /* Asegura que el div_header esté sobre otros elementos */
  background-color: rgb(177, 210, 240);
}

box-icon {
  font-size: 40px !important; /* Algunas veces los estilos pueden sobreescribir otros, entonces ponemos !important para que se priorize este estilo. */
  width: 40px !important; 
  height: 40px !important; 
  margin: 5px;
  margin-right: 25px;
}

#header-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/*----------------- Contenido Pagina -----------------*/

/* Estilo del overlay (fondo oscuro) */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
  display: none;
  z-index: 999;
}

.image-information {
  max-width: 350px;
  height: auto;
  align-self: right;
  padding-top: 20px;
}

.contenido {
width: 100%;
padding-left: 30px;
}

#more > h2 {
  font-size: 50px;
  text-align: center;
  margin-left: 20px;
}

/* Estilo del div emergente */
#more {
  background-color: aliceblue;
  margin-left: 5%;
  width: 90%;
  height: 100%;
  border-radius: 20px;
  border-style: solid;
  border-width: 5px;
  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  overflow-y: auto; /* Scroll vertical */
  overflow-x: hidden; /* Ocultar scroll horizontal */
  box-sizing: border-box;
}

/* Estilo del botón cerrar dentro del div emergente */
#button-volver {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  width: 100%;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#more > p {
  font-size: 20px;
}

.seccion {
  display: flex;
  text-align: justify;
  justify-content: space-between; /* Alinea el texto y la imagen en extremos opuestos */
  align-items: center; /* Centra verticalmente */
  margin-bottom: 30px; /* Espaciado entre las secciones */
  padding-right: 50px ;
}


.seccion p {
  width: 70%; /* El texto ocupará el 65% del ancho */
}

.divas button {
  opacity: 0;
  width: 200px;
  position: absolute;
  align-self: center;
  z-index: 1000;
  font-size: 25px;
  border-radius: 25px;
  transition: opacity 0s ease-in; /* Aumenta la opacidad gradualmente */
}
 
#introducción {
  background-image: url('recursos/introduccion.png');
}

#Somos {
  background-image: url('recursos/somos.jpg');
}

#objetivos {
  background-image: url('recursos/objetivos.jpg');
} 

.divas {
    width: 500px;
    height: 620px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    justify-content: center;
    background-image: url("imagen.jpg"); /* Imagen de fondo */
    border-style: solid;
    border-color: black;
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-position: center; /* Centra la imagen */
    position: relative; /* Necesario para el pseudo-elemento */
    transition: width 2s;
}


.divas::before {
  content: ""; /* Pseudo-elemento vacío para agregar la capa de color */
  position: absolute; /* Posiciona el pseudo-elemento dentro del contenedor */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.582); /* Color negro con 50% de transparencia */
  z-index: 1; /* Asegura que el color esté sobre la imagen pero debajo del contenido */
}



.divas:hover::before {
  content: ""; /* Pseudo-elemento vacío para agregar la capa de color */
  position: absolute; /* Posiciona el pseudo-elemento dentro del contenedor */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.637); /* Color negro con 50% de transparencia */
  z-index: 1; /* Asegura que el color esté sobre la imagen pero debajo del contenido */
  transition: 2s;
}

.divas:hover > h2 {
  color: black
}

.divas h2, .texto {
  z-index: 2; /* Coloca el texto sobre la capa semitransparente */
  color: #cdcdcd;
  
}

.divas p {
  opacity: 0; 
  transition: opacity 0s ease-in; /* Transición suave de la opacidad en 2 segundos */
  position: absolute;

}

.divas:hover > p, .divas:hover > button {
  opacity: 1; /* Se vuelve visible al hacer hover */
  transition: opacity 2s ease-in; /* Aumenta la opacidad gradualmente */
  position: relative;
}


.divas button:hover {
background-color: rgb(173, 228, 228);
}

#button-volver:hover {
  background-color: rgb(173, 228, 228);
  color: black;
}


#div_madre {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }


/*DROPDOWN MENU DE USER*/
#dropdownMenu {
  position: relative;
  display: inline-block; /*Esto hace que el elemento se comporte como un bloque en términos de poder tener un tamaño (ancho y alto) definido, pero se alinea en línea con otros elementos. */
}

#dropdown-Options {
  display: none; /*el elemento no se muestra en la página*/
  position: absolute; /*permite colocar el menú desplegable en una posición específica dentro del contenedor.*/
  background-color: rgb(85, 82, 82);
  border-radius: 15px 15px 15px 15px;
  min-width: 110px;
  z-index: 1; /*establece la posición del menú desplegable en el eje z (profundidad) para asegurar que se muestre por encima de otros elementos que puedan estar en la misma área de la página*/
}

#dropdownMenu:hover #dropdown-Options {
  display: block;
}

#dropdown-Options a { /*selecciona todos los enlaces dentro de #dropdownMenu*/
  color: black;
  background-color: rgb(85, 82, 82);
  padding: 15px 15px;
  border-radius: 15px 15px 15px 15px;

  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #f1f1f1;

  display: block; /*Hace que cada enlace se comporte como un bloque, ocupando toda la línea disponible*/
}

#dropdown-Options a:hover {
  background-color: #f1f1f1;
  color: rgb(85, 82, 82);
}

/*--------------------------------------------------*/

/*NAVIGATION BAR*/

nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;   
  background-color: rgb(102, 102, 102);  
  text-align: center;      
  font-size: 22px;      
  font-family: "Work Sans", sans-serif;
  font-weight: 500;                                                                                                        
}

.cont-ul {
  display: flex;
  justify-content: space-between; 
 }
  
  li {
  list-style: none; /*le quita el estilo de lista*/
  transition: all 0.3s ease 0s; /*Crea el efecto de transición de los botones*/
  padding: 1.5vh; /* Mantener el padding del li */
  margin-left: 15px;
  margin-right: 15px;
  }

  li a {
    cursor: pointer;
    color: inherit; /* Mantener el color del texto del elemento padre */
    text-decoration: none; /* Eliminar la línea de abajo */
    display: block; /* Asegurar que el enlace ocupe todo el espacio del li */
    padding: 1.5vh; /* Mantener el padding del li */
  }

  .button-vidasana {
    color: rgb(255, 255, 255); 
  }

  li:hover {
  background-color: rgb(232, 235, 238);
  color: rgb(85, 82, 82);
  }
  

  .menu-item {
  display: block; /* Asegurar que el enlace ocupe todo el espacio del li */
  color: rgb(255, 255, 255);
  }
  


.menu-item {
  color: rgb(255, 255, 255);
  display: block; /* Asegurar que el enlace ocupe todo el espacio del li */
  }

  .menu-item:first-child {
    border-left: none; /* Quitar borde izquierdo del primer elemento */
  }

  .menu-item:last-child {
    border-right: none; /* Quitar borde derecho del último elemento */
  }

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------- FOOTER ---------*/
#footer {
  background-color: rgb(71, 73, 73);
  padding-top: 20px;
  text-align: center;
  color: #fff;
  display: flex; 
  justify-content: center;
  font-size: 20px;
  width: 100%;
}


/*-------------------RESPONSIVE-------------------*/
/*RESPONSIVE CELULAR*/

@media (min-width: 701px) { 
  

  .divas:hover  {
    width: 1200px;
    border-style: solid;
    border-color: grey;
    transition: 2s;
  }

  .divas:hover > .texto {
    margin: 10px;
    width: 800px;
    text-align: center;
    display: flex;
    color: black;
   
  }
}


@media (max-width: 700px) {
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.seccion {
  display: flex;
  flex-direction: column; /* Alinea el texto y la imagen en extremos opuestos */
  align-items: center; /* Centra verticalmente */
  margin-bottom: 30px; /* Espaciado entre las secciones */
  padding-left: 30px ;
}


.seccion p, h2 {
 text-align: center;
 width: 100%;
}

#more {
margin-left: 2%;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cont-ul {
  display: flex;
  flex-direction: column;
}


li {
  width: 100%;
  display: grid;
  align-content: center;
 }

.divas {
  align-self: center;
  width: 95%;
  height: 200px;
  transition: 2s;
}



.divas:hover {
  height: 550px;
  border-style: solid;
  border-color: grey;
  align-items: center;
  transition: 2s;
}

.texto {
  opacity: 0; 
  transition: opacity 1s ease-in; /* Transición suave de la opacidad en 2 segundos */
  position:sticky ;
  display: none;
}


.divas:hover > .texto {
  margin: 10px;
  width: 90%;
  text-align: center;
  color: black;
  transition: 1.5s;
  opacity: 1; /* Se vuelve visible al hacer hover */
  transition: opacity 2s ease-in; /* Aumenta la opacidad gradualmente */
  display: block;
  transition: display 0s;
}

.boton.activado:hover {
  background-color: #0056b3;
}

.divas:hover::before {
  content: ""; /* Pseudo-elemento vacío para agregar la capa de color */
  position: absolute; /* Posiciona el pseudo-elemento dentro del contenedor */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.726); /* Color negro con 50% de transparencia */
  z-index: 1; /* Asegura que el color esté sobre la imagen pero debajo del contenido */
  transition: 2s;
}

#div_madre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#icons {
  padding-bottom: 10px;
  padding-left: 25px;
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-cara {
    width: 80px;
    height: 100px;
}

.Titulo {
    font-size: 30px;
    text-align: center;
}

nav ul { 
    padding: 0;
    margin: 10px 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
}
}

