/* Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/*-----------------------------------------------*/
  
.Titulo {
  font-family: "Fjalla One", sans-serif; /* Sets the font for the title */
  font-size: 40px; /* Sets the font size */
  padding-left: 1vw; /* Adds left padding */
  float: left; /* Floats the title to the left */
}

body {
  background-color: rgb(177, 210, 240); /* Sets the background color of the body */
}

* {
  margin: 0; /* Resets margin for all elements */
  padding: 0; /* Resets padding for all elements */
  box-sizing: border-box; /* Includes padding and border in element's total width and height */
  display: flexbox; /* Flexbox layout (note: should be 'flex') */
  scroll-behavior: smooth; /* Smooth scrolling behavior */
}

#div_header {
  position: sticky; /* Makes the header stick to the top of the viewport */
  z-index: 1000; /* Ensures the header is above other elements */
}

#Logo {
  display: flex; /* Uses flexbox for layout */
  vertical-align: middle; /* Vertically aligns the logo */
}

box-icon {
  font-size: 40px !important; /* Sets the font size, with !important to override other styles */
  width: 40px !important; /* Sets the width, with !important */
  height: 40px !important; /* Sets the height, with !important */
  margin: 5px; /* Adds margin around the icon */
  margin-right: 25px; /* Adds right margin */
  transition: 1.5s; /* Sets transition duration for hover effects */
}

box-icon:hover {
  transform: scale(1.3, 1.3); /* Scales the icon on hover */
  transition: 1.5s; /* Applies transition on hover */
}

#header-logos {
  display: flex; /* Uses flexbox for layout */
  justify-content: space-between; /* Distributes space between items */
  align-items: center; /* Vertically centers items */
}

p {
  font-size: 20px; /* Sets the font size for paragraphs */
  margin-left: 20px; /* Adds left margin */
  width: 650px; /* Sets width for paragraphs */
  font-family: "Work Sans", sans-serif; /* Sets the font family */
}

/* USER DROPDOWN MENU */
.dropdownMenu {
  position: relative; /* Positions the dropdown relative to its parent */
  display: inline-block; /* Allows width and height definition while aligning inline */
}

.dropdown-Options {
  display: none; /* Hides the dropdown options by default */
  position: absolute; /* Positions dropdown options absolutely */
  background-color: rgb(85, 82, 82); /* Sets background color for dropdown */
  border-radius: 15px; /* Rounds the corners of the dropdown */
  min-width: 110px; /* Sets minimum width for the dropdown */
  z-index: 1; /* Ensures dropdown appears above other elements */
}

.dropdownMenu:hover .dropdown-Options {
  display: block; /* Shows dropdown options on hover */
}

.dropdown-Options a { /* Styles for links within dropdown options */
  color: black; /* Sets text color */
  background-color: rgb(85, 82, 82); /* Sets background color */
  padding: 15px; /* Adds padding around links */
  border-radius: 15px; /* Rounds corners of the links */
  text-decoration: none; /* Removes underline from links */
  font-family: "Work Sans", sans-serif; /* Sets font family */
  font-weight: 500; /* Sets font weight */
  font-size: 20px; /* Sets font size */
  color: #f1f1f1; /* Sets text color */
  display: block; /* Makes links block elements */
}

.dropdown-Options a:hover {
  background-color: #f1f1f1; /* Changes background on hover */
  color: rgb(85, 82, 82); /* Changes text color on hover */
}

.phone {
  width: 45px; /* Sets width of phone icon */
  height: auto; /* Sets height to auto */
  margin-right: 20px; /* Adds right margin */
  transition: 1.5s; /* Sets transition for hover effects */
}

.phone:hover {
  transform: scale(1.3, 1.3); /* Scales the phone icon on hover */
  transition: 1.5s; /* Applies transition on hover */
}

/*------------------------------------------------------------------------------------*/
/* CARDS */
.cardBody {
  margin: 0px; /* Resets margin */
  padding: 0px; /* Resets padding */
  box-sizing: border-box; /* Ensures padding and border are included in total size */
}

.cardContainer {
  display: flex; /* Uses flexbox for layout */
  justify-content: center; /* Centers the card container */
  flex-wrap: wrap; /* Allows cards to wrap to the next line */
  margin-top: 25px; /* Adds top margin */
}

.card {
  background-color: rgb(227, 227, 240); /* Sets background color for cards */
  width: 350px; /* Sets width for cards */
  border-radius: 8px; /* Rounds corners of the cards */
  overflow: hidden; /* Hides overflow content */
  box-shadow: 0px 2px 4px; /* Adds shadow to the cards */
  margin: 20px; /* Adds margin around cards */
  line-height: 2; /* Sets line height for text */
  transition: 1s; /* Sets transition duration */
}

.card:hover {
  transform: scale(1.1, 1.1); /* Scales the card on hover */
  transition: 1.5s; /* Applies transition on hover */
}

.card-icon {
  width: 120px; /* Sets width for card icons */
  height: auto; /* Sets height to auto */
  margin-top: 15px; /* Adds top margin */
  margin-left: 115px; /* Adds left margin */
}

.card-content {
  padding: 16px; /* Adds padding to card content */
}

.card-content h3 {
  font-size: 28px; /* Sets font size for card headings */
  margin-left: 0; /* Resets left margin */
  width: 300px; /* Sets width for headings */
  margin-bottom: 8px; /* Adds bottom margin */
  text-align: justify; /* Justifies text alignment */
}

.card-content p {
  line-height: 1.3; /* Sets the line height for paragraphs within card content */
  margin-left: 10px; /* Adds left margin to paragraphs */
  width: 310px; /* Sets width for paragraphs */
  text-align: justify; /* Justifies text alignment */
}

.card-content .btn {
  display: inline-block; /* Allows the button to be inline with other elements while retaining block properties */
  padding: 8px 16px; /* Adds padding for top/bottom and left/right */
  text-decoration: none; /* Removes underline from the button */
  border-radius: 4px; /* Rounds corners of the button */
  margin-top: 16px; /* Adds top margin */
  background-color: rgb(85, 82, 82); /* Sets background color for the button */
  color: white; /* Sets text color for the button */
  font-family: "Work Sans", sans-serif; /* Sets the font for the button */
}

.btn:hover {
  transform: scale(1.094, 1.094); /* Scales the button on hover */
  box-shadow: 5px 5px 10px; /* Adds shadow effect on hover */
  color: rgb(177, 210, 240); /* Changes text color on hover */
}

.contenidoInformacion .btn-Cerrar {
  display: inline-block; /* Allows the close button to be inline while maintaining block properties */
  padding: 18px; /* Adds padding for top/bottom and left/right */
  text-decoration: none; /* Removes underline from the button */
  border-radius: 4px; /* Rounds corners of the button */
  margin-top: 16px; /* Adds top margin */
  background-color: rgb(85, 82, 82); /* Sets background color for the close button */
  color: white; /* Sets text color for the close button */
  font-family: "Work Sans", sans-serif; /* Sets the font for the close button */
}

.btn-Cerrar:hover {
  transform: scale(1.094, 1.094); /* Scales the close button on hover */
  box-shadow: 5px 5px 10px; /* Adds shadow effect on hover */
  color: rgb(177, 210, 240); /* Changes text color on hover */
}

.contenidoInformacion {
  box-sizing: border-box; /* Changes the way element sizes are calculated. Padding and border are included within the specified width and height. */
  width: calc(100% - 1em); /* Calculates the total width of the element by subtracting 1em from the full width of its parent container. */
  max-width: 1000px; /* Sets a maximum width for the element to prevent it from exceeding 1000 pixels. */
  background-color: rgb(88, 93, 97); /* Sets a dark gray background color for the element. */
  border-style: none; /* Removes any border from the element. */
  border-radius: 5px; /* Rounds the corners of the element by 5 pixels. */
  padding: 20px; /* Adds 20 pixels of padding on all sides of the element. */
  padding-bottom: 20px !important; /* Forces 20 pixels of padding at the bottom, overriding any other padding values. */
  color: white; /* Sets the text color to white. */
  text-align: justify; /* Justifies the text alignment within the element. */
  position: fixed; /* Positions the element relative to the viewport, so it stays in place when scrolling. */
  top: 6.5%; /* Positions the top of the element 6.5% from the top of the viewport. */
  left: 50%; /* Centers the element horizontally within the viewport. */
  transform: translateX(-50%); /* Adjusts the element's position to center it by moving it left by 50% of its width. */
}



.btn-Cerrar {
 cursor: pointer;
 padding: 10px;
}

.contenidoInformacion  ul {
  padding-left: 0;
  margin-left: 25px;
  margin-top: 50px;
  margin-bottom: 10px;
} 



/*--------------------------------------derechos_responsabilidades----------------------------------------------*/
.dere_respo{
  display: flex;
  width: 100%;
  justify-content: space-between;
  
}

.respo {
  width: 100%;
}

.respo  p, h3 {
  width: 85%;
  padding-left: 40px;
}

.respo  h3 {
text-align: center;
margin-left: 50px;
line-height: 60px;
}

.vertical-line {
  width: 2%;               /* Grosor de la línea */
  height: 980px;            /* Altura de la línea */
  background-color: rgb(37, 37, 37);  /* Color de la línea */
  border: none;             /* Elimina bordes predeterminados */
}

.linea-horizontal {
  border: none;              /* Sin borde predeterminado */
  height: 10px;               /* Altura de la línea */
  background-color: #333;    /* Color de la línea */
  width: 100%;                /* Anchura de la línea */
  
}

/* Styles for the .dere class */
.dere {
  width: 100%; /* Set the width of .dere to 100% of its container */
}

/* Styles for paragraphs and h3 headers inside the .dere class */
.dere p, h3 {
  width: 85%; /* Set the width to 85% of the container */
  padding-left: 25px; /* Add left padding for better spacing */
}

/* Styles specifically for h3 headers inside the .dere class */
.dere h3 {
  text-align: center; /* Center align text */
  margin-left: 50px; /* Add left margin to h3 headers */
  line-height: 60px; /* Set line height for h3 headers for better spacing */
}

/* Hover effects for the .dere class */
.dere:hover {
   background-color: rgb(246, 246, 247); /* Change background color on hover */
   color: rgb(95, 95, 95); /* Change text color on hover */
   transition: 2s; /* Smooth transition effect for background and text color */
}

/* Hover effects for elements with the .respo class */
.respo:hover {
  background-color: rgb(246, 246, 247); /* Change background color on hover */
  color: rgb(95, 95, 95); /* Change text color on hover */
  transition: 1s; /* Smooth transition effect for background and text color */
}

/* Styles for list items and h3 headers inside .der_res class */
.der_res li, h3 {
  font-size: 20px; /* Set font size for list items and h3 headers */
  margin-left: 20px; /* Add left margin for spacing */
  width: 650px; /* Set width of list items */
  font-family: "Work Sans", sans-serif; /* Set font family */
}

/* Additional styles for h3 headers inside .der_res class */
.der_res h3 {
  margin-left: 10px; /* Add left margin for h3 headers */
}

/* Hover effects for links inside .contenidoInformacion */
.contenidoInformacion a:hover {
  color: rgb(0, 118, 187); /* Change color on hover */
  transition: 1s; /* Smooth transition effect for link color */
}

/* Styles for the "btn-subir" button */
.btn-subir {
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  display: inline-block; /* Allow block-level behavior while maintaining inline layout */
  padding: 16px 16px; /* Add padding around the button */
  text-decoration: none; /* Remove underline from button text */
  border-radius: 4px; /* Round corners of the button */
  border-style: none; /* Remove border from the button */
  margin-top: 16px; /* Add top margin */
  margin: 20px; /* Add margin on all sides */
  background-color: rgb(85, 82, 82); /* Set background color */
  color: white; /* Set text color to white */
  font-family: "Work Sans", sans-serif; /* Set font family */
  font-size: 17px; /* Set font size */
}

/* Hover effects for the "btn-subir" button */
.btn-subir:hover {
  transform: scale(1.094, 1.094); /* Scale the button on hover */
  box-shadow: 5px 5px 10px; /* Add shadow effect to button */
  color: rgb(177, 210, 240); /* Change text color on hover */
}

/* Set line height for paragraphs and list items for readability */
* p, li {
  line-height: 35px; /* Set line height for better readability */
}

/*--------------------------------------------------*/

/* NAVIGATION STYLES */

/* Styles for the navigation bar */
nav {
  width: 100%; /* Set width to 100% of the viewport */
  display: flex; /* Use flexbox for layout */
  justify-content: space-evenly; /* Evenly distribute navigation items */
  background-color: rgb(102, 102, 102); /* Set background color for navigation */
  text-align: center; /* Center align text in navigation */
  font-size: 22px; /* Set font size for navigation items */
  font-family: "Work Sans", sans-serif; /* Set font family for navigation items */
  font-weight: 500; /* Set font weight for navigation items */
}

/* Styles for the container with the class .cont-ul */
.cont-ul {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Evenly distribute child elements */
}

/* Styles for list items */
li {
  list-style: none; /* Remove default bullet points from list items */
  padding: 1.5vh; /* Add vertical padding to list items */
  transition: all 0.3s ease 0s; /* Create a transition effect for list items */
  margin-left: 15px; /* Add left margin for spacing */
  margin-right: 15px; /* Add right margin for spacing */
}

/* Styles for links */
a {
  color: inherit; /* Inherit the text color from the parent element */
  cursor: pointer; /* Change cursor to pointer to indicate clickability */
  text-decoration: none; /* Remove underline from links */
}

/* Styles for links within list items */
li a {
  display: block; /* Ensure the link occupies the entire space of the list item */
  padding: 1.5vh; /* Maintain padding from the list item */
}

/* Hover effects for list items */
li:hover {
  background-color: rgb(246, 246, 247); /* Change background color on hover */
  color: rgb(95, 95, 95); /* Change text color on hover */
  transition: 1s; /* Smooth transition effect for background and text color */
}

/* Styles for elements with the class .button-vidasana */
.button-vidasana {
  color: rgb(255, 255, 255); /* Set text color to white */
}

/* Styles for the dropdown menu with class .ul-vsana */
.ul-vsana {
  display: none; /* Hide the dropdown menu initially */
  position: absolute; /* Position the dropdown absolutely */
  margin-top: 1.5vh; /* Set margin to match padding of list items */
  width: 190px; /* Set width of the dropdown menu */
}

/* Hover effects for list items in the dropdown menu */
.ul-vsana li:hover {
  transform: translateX(-20px); /* Move the item left on hover */
  border-bottom: solid 1px #fff; /* Add bottom border for aesthetic separation */
  background-color: rgb(246, 246, 247); /* Change background color on hover */
  color: rgb(95, 95, 95); /* Change text color on hover */
}

/* Default styles for list items in the dropdown menu */
.ul-vsana li {
  background-color: rgb(100, 100, 100); /* Set background color */
  color: rgb(255, 255, 255); /* Set text color to white */
}

/* Show the dropdown menu on hover over .button-vidasana */
.button-vidasana:hover .ul-vsana {
  display: block; /* Show the dropdown menu */
}

/* Styles for another dropdown menu with class .ul-ayuda */
.ul-ayuda li {
  background-color: rgb(100, 100, 100); /* Set background color */
  color: rgb(255, 255, 255); /* Set text color to white */
}

.ul-ayuda {
  position: absolute; /* Position the dropdown absolutely */
  transform: translateX(100%); /* Position it to the right of the button */
  top: 0%; /* Align it at the same height as the selected button */
  right: 0; /* Align it to the right */
  display: none; /* Hide the dropdown menu initially */
  width: 190px; /* Set width of the dropdown menu */
}

/* Hover effects for list items in the .ul-ayuda dropdown menu */
.ul-ayuda li:hover {
  transform: translateX(-10px); /* Move the item left on hover */
  border-bottom: solid 1px #fff; /* Add bottom border for aesthetic separation */
  text-align: center; /* Center align text */
  background-color: rgb(246, 246, 247); /* Change background color on hover */
  color: rgb(95, 95, 95); /* Change text color on hover */
}

/* Show the .ul-ayuda dropdown on hover over .button-entrenamiento */
.button-entrenamiento:hover .ul-ayuda {
  display: block; /* Show the dropdown menu */
}

/* Add a bottom border to each list item in the .ul-ayuda dropdown */
.ul-ayuda li {
  border-bottom: solid 1px #fff; /* Add bottom border */
}

/* Styles for the logo */
.logo-cara {
  float: left; /* Float the logo to the left */
  width: 100px; /* Set width */
  height: auto; /* Maintain aspect ratio */
  padding-left: 2vw; /* Add left padding */
  padding-top: 2vw; /* Add top padding */
}

/* Styles for menu items */
.menu-item {
  color: rgb(255, 255, 255); /* Set text color to white */
  display: block; /* Ensure the link occupies the entire space of the list item */
}

/* Remove the left border from the first menu item */
.menu-item:first-child {
  border-left: none; /* Remove left border */
}

/* Remove the right border from the last menu item */
.menu-item:last-child {
  border-right: none; /* Remove right border */
}

/*------------------------------------------------------------------------------------*/

/* Styles for h3 headers */
h3 {
  font-family: "Fjalla One", sans-serif; /* Set font family */
  font-size: 35px; /* Set font size */
  text-align: match-parent; /* Align text (this may not be valid; consider using 'left', 'center', etc.) */
  width: 350px; /* Set width */
  padding-left: 15px; /* Add left padding */
  margin-left: 57px; /* Add left margin */
}

/* Styles for the gallery container */
.gallery_Resources {
  background-color: rgb(228, 231, 231); /* Set background color for the gallery */
  margin: 10px; /* Add margin around the gallery */
  padding: 10px; /* Add padding inside the gallery */
  border-radius: 15px; /* Round the corners of the gallery */

  display: grid; /* Use grid layout for the gallery */
  grid-template-columns: 460px 460px 160px; /* Define 3 columns with specified widths */
  grid-template-rows: 215px 215px 215px; /* Define 3 rows with specified heights */

  grid-column-gap: 5px; /* Space between columns */
  grid-row-gap: 5px; /* Space between rows */
}

/* Styles for the gallery area */
#gallery_Area {
  display: flex; /* Use flexbox layout */
  flex-wrap: nowrap; /* Prevent items from wrapping */
  flex-direction: column; /* Arrange items in a column */
  min-height: 100vh; /* Set minimum height to full viewport height */
  width: 1250px; /* Set fixed width for the gallery area */
  height: auto; /* Allow height to adjust based on content */

  margin: 50px; /* Add margin around the gallery area */
}

/* Styles for the container of the gallery resources */
.contain_galleryRec {
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center items horizontally */
  align-content: center; /* Center items vertically in the flex container */
  align-items: center; /* Align items in the center of the flex container */
}

/* Styles for video iframes */
.iframeVid {
  width: 460px; /* Set width of the iframe */
  height: 215px; /* Set height of the iframe */
}

/* Styles for the footer */
#footer {
  background-color: rgb(71, 73, 73); /* Set background color for the footer */
  padding-top: 20px; /* Add padding at the top of the footer */
  text-align: center; /* Center-align text in the footer */
  color: #fff; /* Set text color to white */
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center items horizontally */
  font-size: 20px; /* Set font size */
  width: 100%; /* Make footer full width */
}
/*responsiveeee*/

/*Nav Bar*/

@media (max-width: 700px) {
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.cont-ul {
  display: flex;
  flex-direction: column;
}

li {
  width: 100%;
  display: grid;
  align-content: center;
 }

.boton.activado:hover {
  background-color: #0056b3;
}

#icons {
  padding-bottom: 10px;
  padding-left: 25px;
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-cara {
    width: 80px;
    height: 100px;
}

.Titulo {
    font-size: 30px;
    text-align: center;
}

nav ul {
    padding: 0;
    margin: 10px 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
}
}

/*---------------------------------------------------------------------------------------*/

/* galería */

/*PARA TABLETS*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #gallery_Area {
    width: 100%; /* Ajusta el ancho para que se ajuste a la pantalla de la tableta */
    margin: 30px; /* Ajusta los márgenes para un mejor espaciado en pantallas medianas */
  }
  
  .gallery_Resources {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr)); /* Ajusta el número de columnas y su tamaño */
    grid-template-rows: repeat(auto-fit, minmax(200px, auto)); /* Ajusta el tamaño de las filas */
    grid-column-gap: 10px; /* Aumenta el espacio entre columnas */
    grid-row-gap: 10px; /* Aumenta el espacio entre filas */
  }
  
  .iframeVid {
    width: 100%; /* Asegura que los iframes llenen el contenedor */
    height: auto; /* Mantiene la proporción del video */
  }
  
  h3 {
    font-size: 30px; /* Ajusta el tamaño del texto para pantallas medianas */
    text-align: center; /* Centra el texto para mejorar la legibilidad */
    width: 100%; /* Asegura que el encabezado ocupe el ancho completo */
    margin: 20px 0; /* Ajusta los márgenes para mejor espaciado */
    padding: 0; /* Elimina el padding para pantallas medianas */
  }
}
/*---------------------------------------------------------------------------------------*/

/*PARA CELULARES*/
@media screen and (max-width: 768px) {
  #gallery_Area {
    width: 100%; /* Adjust width and reduce margings to fit smaller screens */
    margin: 20px;
  }
  
  .gallery_Resources {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
    grid-row-gap: 10px; 
  }
  
  .iframeVid {
    width: 100%; /* Make videos responsive within their containers */
    height: auto;
  }
  
  h3 {
    font-size: 25px; /* Adjust font size for smaller screens */
    text-align: center; /* Center align text for better readability */
    width: 100%; /* Full width for smaller screens */
    margin: 20px 0; /* Adjust margins for better spacing */
    padding: 0; /* Remove padding */
  }

  

  .contenidoInformacion li {
    width: 90%;
  }

  .contenidoInformacion h3 {
    margin: 0;
  }

  .contenidoInformacion p {
    margin-left: 15px;
    padding: 0;
  }

  .vertical-line {
    height: 1750px;            /* Altura de la línea */
  }
  
}


