@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fjalla+One&display=swap');

.Titulo {
    font-family: "Fjalla One", sans-serif;
    font-size: 40px;
    text-align: left;
    padding-left: 1vw;
    float: left;
  }

  * {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
 }
 
   html {
   height: 100%;
   width: 100%;
   }
 
 h2 {
   text-align: left;
   font-size: 30px;
   margin-left: 20px;
   width: 650px;
   font-size: 25px;
 }
 
 p {
 margin-left: 20px;
 width: 650px;
 }
 
 #div_header {
   position: sticky;
   width: 100%;
   top: 0;
   background-color: rgb(122, 181, 233);
   margin: 0;
   z-index: 1000; /* Asegura que el div_header esté sobre otros elementos */
 }

 #div_p1 {
    width: 100%;
    background-color: rgb(188, 222, 252);
    display: flex;
    justify-content: center;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: space-around;   
    background-color: rgb(102, 102, 102);                                                                                                           
  }
  
  .cont-ul {
    display: flex;
    align-items: center;
    font-size: 22px;
    text-align: center;
   }
    
    li {
    outline-style: none;
    list-style: none;
    cursor: pointer;
    padding: 1.5vh;
    transition: all 0.3s ease 0s;
    display: block;
    text-decoration: none;
    }
  
    li a {
      color: inherit; /* Mantener el color del texto del elemento padre */
      text-decoration: none; /* Eliminar la línea de abajo */
      display: block; /* Asegurar que el enlace ocupe todo el espacio del li */
      padding: 1.5vh; /* Mantener el padding del li */
    }
  
    
    li:hover {
    background-color: rgb(3, 107, 192);
    color: black;
    }
    
    .develop {
    position: relative;
    color: rgb(255, 255, 255);
    border-left: 1px solid black; /* Borde izquierdo */
    border-right: 1px solid black; /* Borde derecho */
    }
    
    .ul-vsana {
    display: none;
    position: absolute;
    margin-top: 1.5vh;
    }
    
    .ul-vsana > li:hover {
        width: 190px;
        transform: translateX(-20px);
        border-bottom:solid 1px #fff;
        text-align: center;
        background-color: rgb(3, 107, 192);
        color: black;
    }
  
    .ul-vsana > li {
        background-color: rgb(100, 100, 100);
        color: rgb(255, 255, 255);
    }
    
    .develop:hover > .ul-vsana {
        display: block; 
    } 
    
    .ul-ayuda > li {
      background-color: rgb(100, 100, 100);
      color: rgb(255, 255, 255);
    }
    .ul-ayuda {
        position: absolute;
        transform: translateX(100%);
        right: 0;
        top: 40%;
        display: none;
        width: 190px;
    }
    
    .ul-ayuda > li:hover {
      width: 190px;
      transform: translateX(-20px);
      border-bottom:solid 1px #fff;
      text-align: center;
      background-color: rgb(3, 107, 192);
      color: black;
    }
  
    .entrenamiento:hover > .ul-ayuda {
        display: block;
    }
    
    .ul-ayuda > li {
        padding: 1vw;
        border-bottom: solid 1px #fff;
    }
    
  .logo-cara {
    float: left;
    width: 7%;
    height: 7%;
    padding-left: 2vw;
    padding-top: 2vw;
  }
  
  .menu-item {
    color: rgb(255, 255, 255);
    border-left: 1px solid black; /* Borde izquierdo */
    border-right: 1px solid black; /* Borde derecho */
    text-decoration: none; /* Eliminar la línea de abajo */
    display: block; /* Asegurar que el enlace ocupe todo el espacio del li */
    }
  
  .menu-item:first-child {
    border-left: none; /* Quitar borde izquierdo del primer elemento */
  }
  .menu-item:last-child {
    border-right: none; /* Quitar borde derecho del último elemento */
  }
  
  .introduccion {
    font-size: 22px;
    font-family: "Fjalla One", sans-serif;
    padding-bottom: 20px;
    text-align: center;
  }
  
  .introduccion1 {
    font-family: "Fjalla One", sans-serif;
    font-size: 40px;
    padding-top: 15px;
    text-align: center;
  }

