/* Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/*-----------------------------------------------*/
  
.Titulo {
  font-family: "Fjalla One", sans-serif;
  font-size: 40px;
  padding-left: 1vw;
  float: left;
}

body {
  background-color:  rgb(177, 210, 240);
}
   
* {
  margin: 0;
  padding: 0 ;
  box-sizing: border-box;
  display: flexbox;
}

#div_header {
 position: sticky;
 
 z-index: 1000; /* Asegura que el div_header esté sobre otros elementos */
}

#Logo {
display: flex;
vertical-align: middle;
}

box-icon {
font-size: 40px !important; /* Algunas veces los estilos pueden sobreescribir otros, entonces ponemos !important para que se priorize este estilo. */
width: 40px !important; 
height: 40px !important; 
margin: 5px;
margin-right: 25px;
}

#header-logos {
display: flex;
justify-content: space-between;
align-items: center;
}

p {
font-size: 20px;
margin-left: 20px;
width: 650px;
font-family: "Work Sans", sans-serif;
}

/*DROPDOWN MENU DE USER*/
#dropdownMenu {
position: relative;
display: inline-block; /*Esto hace que el elemento se comporte como un bloque en términos de poder tener un tamaño (ancho y alto) definido, pero se alinea en línea con otros elementos. */
}

#dropdown-Options {
display: none; /*el elemento no se muestra en la página*/
position: absolute; /*permite colocar el menú desplegable en una posición específica dentro del contenedor.*/
background-color: rgb(85, 82, 82);
border-radius: 15px 15px 15px 15px;
min-width: 110px;
z-index: 1; /*establece la posición del menú desplegable en el eje z (profundidad) para asegurar que se muestre por encima de otros elementos que puedan estar en la misma área de la página*/
}

#dropdownMenu:hover #dropdown-Options {
display: block;
}

#dropdown-Options a { /*selecciona todos los enlaces dentro de #dropdownMenu*/
color: black;
background-color: rgb(85, 82, 82);
padding: 15px 15px;
border-radius: 15px 15px 15px 15px;

text-decoration: none;
font-family: "Work Sans", sans-serif;
font-weight: 500;
font-size: 20px;
color: #f1f1f1;

display: block; /*Hace que cada enlace se comporte como un bloque, ocupando toda la línea disponible*/
}

#dropdown-Options a:hover {
background-color: #f1f1f1;
color: rgb(85, 82, 82);
}

/*--------------------------------------------------*/


/*NAV*/

nav {
width: 100%;
display: flex;
justify-content: space-evenly;   
background-color: rgb(102, 102, 102);  
text-align: center;      
font-size: 22px;    
font-family: "Work Sans", sans-serif;
font-weight: 500;                                                                                                
}

.cont-ul {
display: flex;
justify-content: space-between; 
}

li {
list-style: none;
padding: 1.5vh;
transition: all 0.3s ease 0s; /*Crea el efecto de transición de los botones*/
margin-left: 15px;
margin-right: 15px;
}


  li a {
    color: inherit; /* Mantener el color del texto del elemento padre */
    cursor: pointer; /*hace que el cursor cambie cuando esta encima de los li para que sepan que son clickeables*/
    text-decoration: none; /* Eliminar la línea de abajo */
    display: block; /* Asegurar que el enlace ocupe todo el espacio del li */
    padding: 1.5vh; /* Mantener el padding del li */
  }

  li:hover {
    background-color: rgb(246, 246, 247);
    color: rgb(95, 95, 95);
  }
  
.button-vidasana {
  color: rgb(255, 255, 255); 
}
  
.logo-cara {
float: left;
width: 100px;
height: auto;
padding-left: 2vw;
padding-top: 2vw;
margin-bottom: 4vw;
}

.menu-item {
  color: rgb(255, 255, 255);
  display: block; /* Asegurar que el enlace ocupe todo el espacio del li */
}

.menu-item:first-child {
  border-left: none; /* Quitar borde izquierdo del primer elemento */
}

.menu-item:last-child {
  border-right: none; /* Quitar borde derecho del último elemento */
}
/*------------------------------------------------------------------------------------*/
/*CARDS*/
.cardBody {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; /*le estamos diciendo al navegador que incluya el tamaño del borde y relleno dentro del ancho y alto del total especificado, en lugar de añadirlo extra.*/
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
}

.card {
  background-color: rgb(227, 227, 240);;
  width: 350px;
  border-radius: 8px;
  overflow: hidden; /*cuando un contenido se sale de los límites del elemento se oculta ese contenido desbordado*/
  box-shadow: 0px 2px 4px;
  margin: 20px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.0090, 1.0092);
}

.card img{
 width: 100%;
 height: auto;
}

.card-content {
  padding: 16px;
}

.card-content > h3 {
  font-size: 28px;
  margin-left: 10px;
  width: 300px;
  margin-bottom: 8px;
  text-align: center;
}

.card-content p {
  line-height: 1.3;
  margin-left: 10px;
  width: 300px;
  text-align: center;
}

.card-content .btn {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  background-color: rgb(85, 82, 82);
  color: white;
  font-family: "Work Sans", sans-serif;
}

.btn:hover {
  transform: scale(1.094, 1.094);
  box-shadow: 5px 5px 10px;
  color: rgb(177, 210, 240);
}

.contenidoInformacion {
  box-sizing: border-box;  /*cambia la forma en que se calculan los tamaños de los elementos. El padding y el borde se incluyen dentro del ancho y alto especificados.*/
  width: calc(100% - 1em); /*calcula el ancho total del elemento restando 1em del ancho completo de su contenedor padre*/
  max-width: 1000px;
  background-color: rgb(88, 93, 97);
  border-style: none;
  border-radius: 5px;
  padding: 20px;
  color: white;
  position: fixed;
  top: 20%; /* El diálogo estará un 20% desde la parte superior de la pantalla */
  left: 50%; /* Centrará el diálogo horizontalmente */
  transform: translateX(-50%); /* Para centrarlo horizontalmente */
}

.contenidoInformacion > h3 {
  padding-bottom: 10px;
  text-align: center;
  width: 400px;
  transform: translateX(70%); 
}

.contenidoInformacion > h2 {
  padding-left: 15px;
}

.contenidoInformacion .btn-Cerrar {
  display: inline-block;
  padding: 16px 16px;
  text-decoration: none;
  border-radius: 4px;
  border-style: none;
  margin-top: 16px;
  margin: 20px;
  background-color: rgb(85, 82, 82);
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 17px;
}

.contenidoInformacion > p {
  margin-left: 20px;
}

.btn-Cerrar {
  cursor: pointer;
  padding: 10px;
}

.btn-Cerrar:hover {
  transform: scale(1.094, 1.094);
  box-shadow: 5px 5px 10px;
  color: rgb(177, 210, 240);
}

/*------------------------------------------------------------------------------------*/
h3 {
  font-family: "Fjalla One", sans-serif;
  font-size: 35px;
  text-align: match-parent;
  width:350px;
}

#gallery_Area > h3 {
  margin-left: 57px;
}

.gallery_Resources {
  background-color: rgb(228, 231, 231);
  margin: 10px;
  padding: 10px;
  border-radius: 15px;

  display: grid;
  grid-template-columns: 460px 160px 460px ; /*numero de columnas y su anchura*/
  grid-template-rows: 215px 215px 215px 215px;

  grid-column-gap: 10px; /*Establece el espacio entre columnas*/
  grid-row-gap: 15px; /*Establece el espacio entre rows*/
}

#gallery_Area {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  min-height: 100vh;
  width: 1250px;
  height: auto;
  margin: 50px;
}

.contain_galleryRec {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.iframeVid {
  width:460px; 
  height:215px;
}



.imgItem {
  width: 150px;
  height: auto;
  align-self: center;
}

.buttonImg {
  border-style: none;
  border-radius: 2px;
}

#footer {
background-color: rgb(71, 73, 73);
padding-top: 20px;
text-align: center;
color: #fff;
display: flex; 
justify-content: center;
font-size: 20px;
width: 100%;
}

/*responsiveeee*/

/*Nav Bar*/

@media (max-width: 700px) {
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.cont-ul {
  display: flex;
  flex-direction: column;
}

li {
  width: 100%;
  display: grid;
  align-content: center;
 }

.boton.activado:hover {
  background-color: #0056b3;
}

#icons {
  padding-bottom: 10px;
  padding-left: 25px;
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-cara {
    width: 80px;
    height: 100px;
}

.Titulo {
    font-size: 30px;
    text-align: center;
}

nav ul {
    padding: 0;
    margin: 10px 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
}
}

/*---------------------------------------------------------------------------------------*/

/* galería */

/*PARA TABLETS*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #gallery_Area {
    width: 100%; /* Ajusta el ancho para que se ajuste a la pantalla de la tableta */
    margin: 30px; /* Ajusta los márgenes para un mejor espaciado en pantallas medianas */
  }
  
  .gallery_Resources {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr)); /* Ajusta el número de columnas y su tamaño */
    grid-template-rows: repeat(auto-fit, minmax(200px, auto)); /* Ajusta el tamaño de las filas */
    grid-column-gap: 10px; /* Aumenta el espacio entre columnas */
    grid-row-gap: 10px; /* Aumenta el espacio entre filas */
  }
  
  .iframeVid {
    width: 100%; /* Asegura que los iframes llenen el contenedor */
    height: auto; /* Mantiene la proporción del video */
  }
  
  h3 {
    font-size: 30px; /* Ajusta el tamaño del texto para pantallas medianas */
    text-align: center; /* Centra el texto para mejorar la legibilidad */
    width: 100%; /* Asegura que el encabezado ocupe el ancho completo */
    margin: 20px 0; /* Ajusta los márgenes para mejor espaciado */
    padding: 0; /* Elimina el padding para pantallas medianas */
  }
}
/*---------------------------------------------------------------------------------------*/

/*PARA CELULARES*/
@media screen and (max-width: 768px) {
  #gallery_Area {
    width: 100%; /* Adjust width and reduce margings to fit smaller screens */
    margin: 20px;
  }
  
  .gallery_Resources {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
    grid-row-gap: 10px; 
  }
  
  .iframeVid {
    width: 100%; /* Make videos responsive within their containers */
    height: auto;
  }
  
  h3 {
    font-size: 25px; /* Adjust font size for smaller screens */
    text-align: center; /* Center align text for better readability */
    width: 100%; /* Full width for smaller screens */
    margin: 20px 0; /* Adjust margins for better spacing */
    padding: 0; /* Remove padding */
  }
}



